body {
    background: #f5d9df;
    font-family:"Nunito";
}

#mainnav {
    font-size:1.5rem;
    font-weight:200;
}

#mainnav .navbar-brand {
    color:#ea1c2c;
    font-size:1.5rem;
    font-weight:200;
}

#mainnav .nav-link {
    color:white;
}


#mainnav .nav-link:hover {
    color:#ea1c2c;
}

div span {
    color:red;
}

div h2 {
    font-weight:200;
    font-size:4rem;
}

@media (max-width: 1200px){
    div h2 {
        font-size: 3rem
    }
}