{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <style>span.homepagetitle {
        color: white
    }</style>


    <link rel="stylesheet" href={% static "/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "css/pace.css" %}>

    <link rel="stylesheet" href={% static "css/custom.css" %}>
    <link rel="stylesheet" href="/static/css/helpers.css">
    <link rel="stylesheet" href="/static/css/style_B.css">
    <!-- js -->
    <script src={% static "js/jquery-2.1.3.min.js" %}></script>
    <script src={% static "js/bootstrap.min.js" %}></script>
    <script src={% static "js/pace.min.js" %}></script>
    <script src={% static "js/modernizr.custom.js" %}></script>

    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css"/>
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="/static/css/component.css"/>
    <!--[if IE]>


<script src="js/html5.js"></script>
<![endif]-->
</head>

<nav class="navbar navbar-expand-lg navbar-dark probootstrap_navbar probootstrap_scrolled-light"
     id="probootstrap-navbar">
    <div class="container">
        <header id="site-header-mine">
            <div class="row">
                <div class="col-md-4 col-sm-5 col-xs-8">
                    <div class="logo">
                        <h1><a href="{% url 'homepage' %}"><span
                                class="homepagetitle"><b>Black</b> &amp; White</span></a></h1>
                    </div>
                </div><!-- col-md-4 -->
                <div class="col-md-8 col-sm-7 col-xs-4">
                    <nav class="main-nav" role="navigation">
                        <div class="navbar-header">
                            <button type="button" id="trigger-overlay" class="navbar-toggle">
                                <span class="ion-navicon"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="cl-effect-mine"><a href="{% url 'homepage' %}" data-hover="Home"><span
                                        class="homepagetitle">Home</span></a>
                                </li>
                                <li class="cl-effect-mine"><a href="{% url "index" %}"
                                                              data-hover="Blogs"><span
                                        class="homepagetitle">Blogs</span></a>
                                </li>
                                <li class="cl-effect-mine"><a href="{% url "about" %}"
                                                              data-hover="About"><span
                                        class="homepagetitle">About</span></a>
                                </li>
                                <li class="cl-effect-mine"><a href="{% url "contacts:contact" %}"
                                                              data-hover="Contact"><span
                                        class="homepagetitle">Contact</span></a>
                                </li>
                                <li class="cl-effect-mine"><a href="{% url "user:login" %}"
                                                              data-hover="Login">Login</a>
                                </li>

                            </ul>

                        </div><!-- /.navbar-collapse -->
                    </nav>

                </div><!-- col-md-8 -->
            </div>
        </header>
    </div>
</nav>

<body>

<div class="container-mine demo-1">

    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>

            {% if logged_in %}
                <div class="logo_box">

                    <h3>You are signed in <br>
                        Enjoy your journey!!</h3>
                    <div class="mb2">
                        <a class="act-but submit" href="{% url "user:signout" %}" style="color: #FFFFFF">
                            Sign Out
                        </a>
                    </div>

                </div>

            {% else %}


                <div class="logo_box">
                <h3>Welcome</h3>

                <form action="{% url "user:login" %}" name="f" method="post">
                    {% csrf_token %}
                    <div class="input_outer">
                        <span class="u_user"></span>
                        <input name="logname" class="text" style="color: #FFFFFF !important" type="text"
                               placeholder="Username">
                    </div>
                    <div class="input_outer">
                        <span class="us_uer"></span>
                        <input name="logpass" class="text"
                               style="color: #FFFFFF !important; position:absolute; z-index:100;" value=""
                               type="password" placeholder="Password">
                    </div>

                    <div class="signup"><a class='mine' href="{% url "user:signup" %}">sign up</a></div>
                    {% if message %}
                        <div><span style="color:white">{{ message }}</span></div>
                    {% endif %}
                    {#                    <div class="mb2"><a class="act-but submit" href="javascript:;" style="color: #FFFFFF">Login</a>#}

                    <div class="mb2">
                        <button class='act-but submit' type="submit" href="javascript" style="color: #FFFFFF">
                            Log In
                        </button>
                    </div>

                </form>

            {% endif %}

            </div>
        </div>
    </div>
</div><!-- /container -->

<script src="/static/js/TweenLite.min.js"></script>
<script src="/static/js/EasePack.min.js"></script>
<script src="/static/js/rAF.js"></script>
<script src="/static/js/demo-1.js"></script>
{#<div style="text-align:center;">#}
{#    <p>更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>#}
{#</div>#}
</body>
</html>